@use "./base.scss";

// put your custom CSS here!

@font-face {
    font-family: 'Departure Mono';
    src: url('/static/DepartureMono-1.420/DepartureMono-Regular.woff2') format('woff2'),
         url('/static/DepartureMono-1.420/DepartureMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Departure Mono Bold';
    src: url('/static/DepartureMono-1.420/DepartureMono-Regular.woff2') format('woff2'),
         url('/static/DepartureMono-1.420/DepartureMono-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}